.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

  width: 61%;
  margin: 0 auto;
}

img {
  width: 30px;
  padding-right: 5px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo img {
  width: 50px;
}

.nav-links {
  display: flex;
  gap: 1rem;
}

.nav-links .nav-link:nth-child(1) img {
  padding-bottom: 8px;
}

.nav-links .nav-link:nth-child(2) img {
  width: 25px;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease;
}

.nav-link p {
  padding-bottom: -5px;
}

.nav-link:hover {
  color: blue;
}

.nav-icons {
  font-size: 21px;
  padding-right: 8px;
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
  }

  .navbar-container {
    width: 80%;
    margin: 0 auto;
  }
}
